@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Zilla+Slab:wght@400;600&display=swap');
/* Comfortaa Regular 400
Zilla Slab Regular 400, Semi-bold 600 */

body, header p {
   margin: 0;
   text-align: center;
   font-family: 'Zilla Slab', serif;
}

header {
   background-color: rgba(163, 132, 0, 51%);
   text-align: center;
   font-family: 'Comfortaa', cursive;
   font-size: 2rem;
   padding: 1rem 0;
}

#portrait {
   max-width: 200px;
   border-radius: 50%;
   display: block;
   margin: 3rem auto;
}

main {
   padding: 1rem 3rem;
}

.social-icons {
   margin: 1rem;
   color: rgba(163, 132, 0, 51%);
}

main p {
   line-height: 1.5rem;
}

footer {
   position: absolute;
   bottom: 0;
   width: 100%;
}