@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Zilla+Slab:wght@400;600&display=swap');
/* Comfortaa Regular 400
Zilla Slab Regular 400, Semi-bold 600 */

html {
   height: 100%;
}

body {
   min-height: 100%;
   display: grid;
   grid-template-rows: 4rem auto 3rem;
}

body, header p {
   margin: 0;
   text-align: center;
}

header {
   background-color: rgba(163, 132, 0, 51%);
   text-align: center;
   font-family: 'Comfortaa', cursive;
   font-size: 2rem;
   padding: 1rem 0;
}

#portrait {
   max-width: 200px;
   border-radius: 50%;
   display: block;
   margin: 3rem auto;
}

main {
   padding: 1rem 3rem;
   font-family: 'Zilla Slab', serif;
}

.social-icons {
   margin: 1rem;
   color: rgba(163, 132, 0, 60%);
}

.social-icons:hover {
   margin: 1rem;
   color: rgba(163, 132, 0, 100%);
}

main p {
   line-height: 1.5rem;
}

footer {
   grid-row-start: 3;
   grid-row-end: 4;
   width: 100%;
   font-family: 'Zilla Slab', serif;
}

@media screen and (min-width: 800px)
{
   main {
      max-width: 400px;
      margin: auto;
   }
}